playwright==1.40.0
polars

# Para logging y configuración
python-dotenv==1.0.0
# py -3.11 -m venv .venv
# "C:\Users\<User>\AppData\Local\Programs\Python\Python311" venv .venv
#  C:\Users\<User>\AppData\Local\Programs\Python\Python311\python.exe -m venv .venv
# .\.venv\Scripts\Activate.ps1
# pip install -r requirements.txt

# playwright install

# python main.py "iphone 15" -m mercadolibre --country co

